.load-con {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .load-bar {
    width: 100%;
    height: 5px;
    background: #76c7c0;
    transition: width 0.1s;
    margin-bottom: 5%;
  }
  
  .load-text {
    font-size: 1.2em;
    color: rgba(255, 255, 255, 0.87);
  }
  