#root {
  width: 100%;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
}

.resume-container:hover {
  cursor: pointer;
}

.contact-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: auto;
}

.form-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}

.con-inps {
  width: 400px;
  height: 50px;
  border: 3px outset transparent;
  border-radius: 5px;
  outline: none;
}

.con-inps:focus {
  border: 3px outset #d3d3d3;
  transition: border 0.3s ease;
}

.form-content textarea {
  height: 120px;
}

input::placeholder, textarea::placeholder {
  text-align: left-align;
}

.exp-container {
  display: flex;
  flex-direction: row;
  transition: border 0.1s ease;
  padding: 2%;
  margin-top: 5%;
  border: 2px outset transparent;
  border-radius: 10px;
}

.proj-container {
  display: flex;
  flex-direction: row;
  transition: border 0.1s ease;
  padding: 2%;
  margin-top: 5%;
  border: 2px outset transparent;
  border-radius: 10px;
}

.first-con {
  margin-top: 0;
}

.highlight-circle {
  position: absolute;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  pointer-events: none;
}

.date-exp {
  margin-left: 2%;
  width: 30%;
}

.date-exp p{
  font-size: small;
  margin: 0;
}

.content-exp {
  margin-left: 5%;
  flex: 1;
}

.content-exp h4 {
  margin: 0;
}

.content-exp h5 {
  margin: 0;
}

.content-exp p {
  font-size: small;
}

.exp-container:hover {
  border-color: #d3d3d3;
  transition: border-color 0.3s ease;
  cursor: pointer;
  
  .content-exp h4 {
    transition: color 0.3s ease;
    color: #8fa1c1;
  }

  .content-exp h5 {
    transition: color 0.3s ease;
    color: #8fa1c1;
  }
}

.proj-container:hover {
  border-color: #d3d3d3;
  transition: border-color 0.3s ease;
  cursor: pointer;
  
  .content-exp h4 {
    transition: color 0.3s ease;
    color: #8fa1c1;
  }

  .content-exp h5 {
    transition: color 0.3s ease;
    color: #8fa1c1;
  }
}

.name-title .link h1 {
  font-size: 2.25em;
  color: rgba(255, 255, 255, 0.87);
  cursor: pointer;
}

.rightnav-elements{
  text-align: left;
  margin-top: 25%;
  margin-bottom: 10%;
}

.rightnav-elements:first-child {
  margin-top: 0;
}

.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-me p {
  text-align: left;
}

.logos {
  width: 30px; 
  height: 30px;
  position: relative;
  margin: 0 5%;
  transition: transform 0.3s ease;
}

.logos img {
  width: 100%; 
  height: 100%;
}

.logos:hover {
  transform: scale(2);
}

.profile-photo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  object-position: top;
}

redirections {
  height: 1%;
}

.redirections ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-bottom: 10%;
}

.redirections ul li {
  margin: -2.5% 0;
}

.redirections ul li a {
  font-size: 1.1em;
  opacity: 0.7;
  transition: opacity 0.3s ease, font-size 0.3s ease;
  color: rgba(255, 255, 255, 0.87);
  cursor: pointer;
}

.redirections ul li a::before{
  content: "\27f6";
  font-size: 2em;
  margin-right: 2%;
}

.redirections ul li a:hover {
  opacity: 1.0;
  font-size: 1.25em;
}

.redirections ul li > .active {
  opacity: 1.0; 
  font-size: 1.25em;
}

.container {
  display: flex;
  top: 0%;
}

.leftnav {
  width: 40%;
  display: flex;
  flex-direction: column;
  top: 0;
  position: sticky;
  height: 50%;
  text-align: center;
}

.rightnav {
  width: 60%;
  height: auto;
  margin-left: 10%;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.fadein-left {
  animation: fadein-l 1s forwards;
}

@keyframes fadein-l {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.fadein-right {
  animation: fadein-r 1s forwards;
}

@keyframes fadein-r {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
